// Font
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

// Screen Sizes
$tablet: 750px;

:root{
	--mainShadow: 0 0 5px 0 rgba(0, 0, 0, 0.179);
	--mainBorderRadius: 10px;
	// --mainColor: #33b5e5;
	--mainColor: #6aaf20;
	--mainText: #ffffff;
}

// Screen mixins
@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

* {
	scroll-behavior: smooth;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: 1s;
	padding: 0;
	margin: 0;
}

.navbar{
	background-color: var(--mainColor) !important;
}

.main-content{
	flex-direction: column;
	display: flex;
	height: 100vh;
}

.main{
	padding-top: 1.5rem;
	overflow-y: scroll;
	text-align: center;
	margin-top: 6.5rem;
	height: 80%;

	.search-btn{
		background-color: var(--mainColor) !important;
	}
	
	.food-recipes{
		h2{
			border-radius: var(--mainBorderRadius);
			background-color: var(--mainColor);
			text-transform: capitalize;
			color: var(--mainText);
			font-size: xx-large;
			padding: 1rem;
			margin: 0;
		}
		.recipes{
			grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
			grid-template-rows: auto;
			padding-top: 1rem;
			display: grid;
			gap: 1rem;

			.recipe{
				.recipe-main{
					position: relative;
					text-align: start;
					padding: 5px 0 0;

					img{
						max-width: 265px;
						border: 1px solid;

						&::before{
							background: url('../media/food_recipes_icons_white.png') no-repeat 0 0;
							background-color: var(--mainColor);
							background-size: 260px 260px;
							display: inline-block;
							min-height: 233px;
							min-width: 260px;
							max-width: 260px;
							content: "";
						}
					}

					&:hover img{
						opacity: 0.1;
					}

					&:hover .recipe-details{
						opacity: 1;
					}

					.recipe-details{
						background-color: rgba(255, 255, 255, 0.611);
						transition: .5s ease;
						position: absolute;
						padding: .4rem 0 0;
						height: 100%;
						width: 100%;
						opacity: 0;
						bottom: 0;
						right: 0;
						left: 0;
						top: 0;

						.recipe-inner-wrapper{
							flex-direction: column;
							position: relative;
							display: flex;
		
							small{
								margin-left: 20px;
							}
		
							.ingredients{
								list-style-position: outside;
								list-style-type: circle;
								padding-left: 20px;
								li{
									margin-left: 20px;
									small{
										margin: 0;
									}
								}
							}

							.recipe-wrapper{
								overflow-y: scroll;
								overflow-x: hidden;
								padding: 1rem 0 0;
								border: 1px solid;
								max-width: 265px;
								height: 230px;

								&::-webkit-scrollbar {
									width: 5px;
								}

								&::-webkit-scrollbar-track {
									background: white;
								}

								&::-webkit-scrollbar-thumb {
									background-color: blue;
									border-radius: 20px;
								}
							}
		
							.recipe-btn{
								background-color: var(--mainColor);
								box-shadow: var(--mainShadow);
								color: var(--mainText);
								padding: .3rem 1rem;
								text-align: center;
								max-width: 265px;
								display: block;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.recipe-details-main{
		text-align: start;
		padding: 1rem;
		.small-details{
			margin-bottom: 1rem;
			font-size: small;
			p{
				margin: 0;
			}
		}

		.more-details{
			.ingredients, .health{
				box-shadow: inset var(--mainShadow);
				border-bottom: 1px solid;
				flex-direction: column;
				margin-bottom: 1.2rem;
				border-radius: 10px;
				display: flex;
				height: 200px;
				h5{
					background-color: var(--mainColor);
					color: var(--mainText);
					padding: .5rem .5rem;
					border-radius: 8px;
				}

				ul, ol{
					list-style-position: inside;
					overflow-y: scroll;
					padding-left: 1rem;
					margin: 0;
					li{
						font-size: 13px;
						&::before{
							font-weight: bolder;
						}
					}
				}
			}

			.ingredients{
				grid-area: ingredients;
			}

			.health{
				grid-area: health;
			}

			.visualization{
				grid-area: visualization;
				overflow-y: scroll;
				margin-top: 2rem;
				height: 384px;
				padding: 10px;
			}
		}
	}
}

.footer{
	flex-direction: column;
	text-align: center;
	display: flex;
	padding: 1rem;
	.socials{
		justify-content: center;
		display: flex;
		a{
			color: var(--mainColor);
			padding: 5px;
		}
	}
}