// Font
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

// Screen Sizes
$tablet: 750px;

:root{
	--mainShadow: 0 0 5px 0 rgba(0, 0, 0, 0.179);
	--mainBorderRadius: 10px;
	// --mainColor: #33b5e5;
	--mainColor: #6aaf20;
	--mainText: #ffffff;
}

// Screen mixins
@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

* {
	scroll-behavior: smooth;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: 2s;
	padding: 0;
	margin: 0;
}

.navbar{
	background-color: var(--mainColor) !important;
}

.main{
	text-align: center;
	padding-top: 1rem;
	margin-top: 7rem;

	.md-form{
		display: flex !important;
		justify-content: center;
		padding: 1rem;
		.search-btn{
			background-color: var(--mainColor) !important;
		}
	}

	.food-recipes{
		h2{
			border-radius: var(--mainBorderRadius);
			background-color: var(--mainColor);
			text-transform: capitalize;
			color: var(--mainText);
			font-size: xx-large;
			padding: 1rem;
			margin: 0;
		}
		.recipes{
			grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
			grid-template-rows: auto;
			padding-top: 1rem;
			display: grid;
			gap: 1rem;
			.recipe{
				.recipe-main{
					position: relative;
					text-align: start;
					padding: 5px 0 0;

					img{
						border: 1px solid;
						min-height: 366px;
						min-width: 358px;
						width: 100%;
					}

					&:hover img{
						opacity: 0.3;
					}

					&:hover .recipe-details{
						opacity: 1;
					}

					.recipe-details{
						background-color: #008CBA;
						transition: .5s ease;
						position: absolute;
						overflow: scroll;
						height: 100%;
						width: 100%;
						opacity: 0;
						bottom: 0;
						right: 0;
						left: 0;
						top: 0;
						h5{
							text-align: center;
						}
	
						small{
							margin-left: 20px;
						}
	
						.ingredients{
							list-style-position: outside;
							list-style-type: circle;
							padding-left: 20px;
							li{
								margin-left: 20px;
								small{
									margin: 0;
								}
							}
						}
	
						.recipe-btn{
							background-color: var(--mainColor);
							box-shadow: var(--mainShadow);
							color: var(--mainText);
							padding: .3rem 1rem;
							text-align: center;
							display: block;
						}
					}
				}
			}
		}
	}
}