@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
:root {
  --mainShadow: 0 0 5px 0 rgba(0, 0, 0, 0.179);
  --mainBorderRadius: 10px;
  --mainColor: #6aaf20;
  --mainText: #ffffff;
}

* {
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

.navbar {
  background-color: var(--mainColor) !important;
}

.main-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: auto;
  width: 90%;
}

.main {
  padding-top: 1.5rem;
  overflow-y: scroll;
  text-align: center;
  margin-top: 6.5rem;
  height: 80%;
}

.main .search-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main .search-form .search-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .search-form .search-input svg {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  position: absolute;
  padding-left: 5px;
  margin-left: 8px;
  height: 100%;
  width: 23px;
}

.main .search-form .search-input input {
  padding-left: 40px;
  border-right: none;
  border-left: none;
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 240px;
  height: 30px;
}

.main .search-form .search-btn {
  background-color: var(--mainColor) !important;
  color: var(--mainText);
  letter-spacing: 3px;
  margin-left: 10px;
  border: none;
  height: 30px;
  width: 100px;
}

.main .food-recipes h2 {
  border-radius: var(--mainBorderRadius);
  background-color: var(--mainColor);
  text-transform: capitalize;
  color: var(--mainText);
  font-size: xx-large;
  padding: 1rem;
  margin: 0;
}

.main .food-recipes .recipes {
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
  padding-top: 1rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.main .food-recipes .recipes .recipe .recipe-main {
  position: relative;
  text-align: start;
  padding: 5px 0 0;
}

.main .food-recipes .recipes .recipe .recipe-main img {
  max-width: 265px;
  border: 1px solid;
}

.main .food-recipes .recipes .recipe .recipe-main img::before {
  background: url("../media/food_recipes_icons_white.png") no-repeat 0 0;
  background-color: var(--mainColor);
  background-size: 260px 260px;
  display: inline-block;
  min-height: 233px;
  min-width: 260px;
  max-width: 260px;
  content: "";
}

.main .food-recipes .recipes .recipe .recipe-main:hover img {
  opacity: 0.1;
}

.main .food-recipes .recipes .recipe .recipe-main:hover .recipe-details {
  opacity: 1;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details {
  background-color: rgba(255, 255, 255, 0.611);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  padding: .4rem 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper small {
  margin-left: 20px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .ingredients {
  list-style-position: outside;
  list-style-type: circle;
  padding-left: 20px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .ingredients li {
  margin-left: 20px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .ingredients li small {
  margin: 0;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .recipe-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 0 0;
  border: 1px solid;
  max-width: 265px;
  height: 230px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .recipe-wrapper::-webkit-scrollbar {
  width: 5px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .recipe-wrapper::-webkit-scrollbar-track {
  background: white;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .recipe-wrapper::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

.main .food-recipes .recipes .recipe .recipe-main .recipe-details .recipe-inner-wrapper .recipe-btn {
  background-color: var(--mainColor);
  -webkit-box-shadow: var(--mainShadow);
          box-shadow: var(--mainShadow);
  color: var(--mainText);
  padding: .3rem 1rem;
  text-align: center;
  max-width: 265px;
  display: block;
  width: 100%;
}

.main .recipe-details-main {
  text-align: start;
  padding: 1rem;
}

.main .recipe-details-main .small-details {
  margin-bottom: 1rem;
  font-size: small;
}

.main .recipe-details-main .small-details p {
  margin: 0;
}

.main .recipe-details-main .more-details .ingredients, .main .recipe-details-main .more-details .health {
  -webkit-box-shadow: inset var(--mainShadow);
          box-shadow: inset var(--mainShadow);
  border-bottom: 1px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.2rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.main .recipe-details-main .more-details .ingredients h5, .main .recipe-details-main .more-details .health h5 {
  background-color: var(--mainColor);
  color: var(--mainText);
  padding: .5rem .5rem;
  border-radius: 8px;
}

.main .recipe-details-main .more-details .ingredients ul, .main .recipe-details-main .more-details .ingredients ol, .main .recipe-details-main .more-details .health ul, .main .recipe-details-main .more-details .health ol {
  list-style-position: inside;
  padding: 0 0 1rem 1rem;
  overflow-y: scroll;
  margin: 0;
}

.main .recipe-details-main .more-details .ingredients ul li, .main .recipe-details-main .more-details .ingredients ol li, .main .recipe-details-main .more-details .health ul li, .main .recipe-details-main .more-details .health ol li {
  font-size: 13px;
}

.main .recipe-details-main .more-details .ingredients ul li::before, .main .recipe-details-main .more-details .ingredients ol li::before, .main .recipe-details-main .more-details .health ul li::before, .main .recipe-details-main .more-details .health ol li::before {
  font-weight: bolder;
}

.main .recipe-details-main .more-details .ingredients {
  grid-area: ingredients;
}

.main .recipe-details-main .more-details .health {
  grid-area: health;
}

.main .recipe-details-main .more-details .visualization {
  grid-area: visualization;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 365px;
  margin-top: 2rem;
}

.main .recipe-details-main .more-details .visualization::-webkit-scrollbar {
  width: 5px;
}

.main .recipe-details-main .more-details .visualization::-webkit-scrollbar-track {
  background: white;
}

.main .recipe-details-main .more-details .visualization::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.footer .socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .socials a {
  color: var(--mainColor);
  padding: 5px;
}

@media (min-width: 750px) {
  .main {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
  }
  .main .search-form {
    margin: auto;
    width: 600px;
  }
  .main .search-form .search-input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .search-form .search-input svg {
    position: absolute;
    padding-left: 5px;
    margin-left: 8px;
    height: 100%;
    width: 23px;
  }
  .main .search-form .search-input input {
    padding-left: 40px;
    width: 500px;
  }
}
/*# sourceMappingURL=index.css.map */